.userSidebar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .s1, .s2{
       display: flex;
       align-items: center;
       gap: 10px;
       padding: 20px;
       color: var(--primaryColor);
       &:hover{
        background-color: var(--backGroundColor2);
        border-radius: 5px;
        cursor: pointer;
        color: var(--blackColor);
       }
    }
    .img{
        width: 30px;
        height: 30px;
        color:var(--primaryColor);
    }
    .s2{
        background-color: var(--backGroundColor2);
        cursor: pointer;
    }
}


@media screen and (max-width: 520px) {
    .userSidebar{
        .s1, .s2{
            gap: 7px;
            padding: 15px 10px;
            padding-left: 10px;
        }
        .img{
            width: 15px;
            height: 15px;
        }
    }
}

@media screen and (min-width: 520px) and (max-width: 770px) {
    .userSidebar{
        .s1, .s2{
            gap: 10px;
            padding: 18px;
        }
        .img{
            width: 22px;
            height: 22px;
        }
    }
}