@charset "UTF-8";
.yourReservations {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
  position: relative;
}
.yourReservations .mainHead1 {
  color: var(--primaryColor);
  font-size: 30px;
  font-weight: 350;
  padding: 5px 20px;
  margin-bottom: 35px;
}
.yourReservations .p1 {
  color: var(--primaryColor);
  line-height: initial;
  margin-bottom: 0px;
}
.yourReservations .p1 .icon2 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: chartreuse;
}

.yourReservations .p1 .icon1 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(240, 37, 15, 0.5);
}
.yourReservations table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--secondaryColor);
  border-radius: 5px;
  overflow: hidden;
}
.yourReservations table tr {
  border: 1px solid var(--secondaryColor);
  border-radius: 5px;
}
.yourReservations table tr th {
  padding: 10px 20px;
  border: 1px solid var(--secondaryColor);
  border-radius: 5px;
  background-color: var(--backGroundColor2);
  color: var(--primaryColor);
}
.yourReservations table tr td {
  padding: 20px 20px;
  border: 1px solid var(--secondaryColor);
  border-radius: 5px;
  color: var(--primaryColor);
}
.yourReservations table tr td p {
  display: flex;
  padding: 0px 0px;
  align-items: center;
  gap: 10px;
}
.yourReservations table tr td p span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.yourReservations .information {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
.yourReservations .information .inUse, .yourReservations .information .delivered {
  color: var(--primaryColor);
}
.yourReservations .information > div {
  margin-left: 10px; /* İçerikler arasında bir boşluk bırakır */
}

@media screen and (max-width: 520px) {
  .yourReservations .mainHead1 {
    font-size: 24px;
  }
  .yourReservations .p1 .icon2 {
    height: 15px;
    width: 15px;
  }
  .yourReservations .p1 .icon1 {
    height: 15px;
    width: 15px;
  }
  .yourReservations table {
    font-size: 10px;
  }
  .yourReservations table tr th {
    padding: 10px 5px;
  }
  .yourReservations table tr td {
    padding: 20px 5px;
  }
  .yourReservations .information .inUse, .yourReservations .information .delivered {
    font-size: 13px;
  }
}
@media screen and (min-width: 520px) and (max-width: 770px) {
  .yourReservations .mainHead1 {
    font-size: 27px;
  }
  .yourReservations .p1 .icon2 {
    height: 15px;
    width: 15px;
  }
  .yourReservations .p1 .icon1 {
    height: 15px;
    width: 15px;
  }
  .yourReservations table {
    font-size: 11px;
  }
  .yourReservations table tr th {
    padding: 10px 10px;
  }
  .yourReservations table tr td {
    padding: 20px 10px;
  }
  .yourReservations .information .inUse, .yourReservations .information .delivered {
    font-size: 14px;
  }
}
@media screen and (min-width: 770px) and (max-width: 996px) {
  .yourReservations .p1 .icon2 {
    height: 16px;
    width: 16px;
  }
  .yourReservations table {
    font-size: 13px;
  }
  .yourReservations table tr th {
    padding: 10px 15px;
  }
  .yourReservations table tr td {
    padding: 20px 20px;
  }
}/*# sourceMappingURL=YourReservations.css.map */