.driversLicense {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    .mainHead1 {
        color: var(--primaryColor);
        font-size: 30px;
        font-weight: 350;
        padding: 10px 20px;
        margin-top: 10px;
    }
    .mainButton1 {
        background-color: none;
        border: 1px solid var(--primaryColor);
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 4rem;
        cursor: pointer;
        color: var(--primaryColor);
        &:hover {
            background-color: var(--pureWhiteColor);
            transform: scale(1.1);
            transition: all 0.4s ease-in-out;
        }
    }
    .form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        
        .form-group {
            display: flex;
            flex-direction: column;
            padding-bottom: 15px;
            padding-top: 15px;
        }
    }
    label {
        font-size: 1.3rem;
        font-weight: 300;
        margin-bottom: 5px;
    }
    
}


.dzu-dropzone {
    min-height: 120px;
    overflow: hidden !important;
    transition: all 0.15s linear;
    border: 4px dashed var(--primaryColor) !important;
    background: var(--backGroundColor2) !important;
    border-radius: 0.5rem !important;
    label {
      color: var(--hoverColor) !important;
    }
    &:hover {
      background: var(--pureWhiteColor) !important;
    }
}


@media screen and (max-width: 520px) {
    .driversLicense {
        .mainHead1 {
            font-size: 24px;
        }
        .mainButton1 {
            font-size: 1rem;
        }
        .form {
            padding: 10px 12px;
            label {
                font-size: 1rem;
                margin-top: 15px;
            }
        }
    }
}

@media screen and (min-width: 520px) and (max-width: 770px) {
    .driversLicense {
        .mainHead1 {
            font-size: 27px;
        }
        .mainButton1 {
            font-size: 1.2rem;
        }
        .form {
            padding: 10px 30px;
            label {
                font-size: 1.1rem;
                margin-top: 17px;
            }
        }
    }
}

@media screen and (min-width: 770px) and (max-width: 996px) {
    .driversLicense {
        .form {
            padding: 10px 40px;
        }
    }
}