.review {
  .secContainer {
    .secHeading {
      justify-content: space-between;
      padding: 1rem 0;
      .navBtns {
        gap: 0.5rem;
        .icon {
          padding: 3px 5px;
          background: var(--secondaryColor);
          border-radius: 3px;
          font-size: 35px;
          cursor: pointer;
          &:hover {
            background: var(--primaryColor);
            color: var(--whiteColor);
          }
        }
      }
    } ///icons-size will be update as 30
    .reviewContainer {
      gap: 1.5rem;
      .singleReview {
        transition: 0.3s ease-in-out;
        .imgDiv {
          height: 200px;
          width: 100%;
          overflow: hidden;
          border-radius: 10px;
          border: 5px solid transparent;

          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
        .reviewTitle {
          color: var(--blackColor);
          font-size: 17px;
          padding-top: 10px;
        }
        .desc {
          color: var(--blackColor);
          opacity: 0.7;
          font-size: 14px;
        }
        .reviewerDiv {
          justify-content: space-between;
          margin-top: 1rem;
          align-items: self-start;

          .leftDiv {
            gap: 0.8rem;
            align-items: flex-start;
            .reviewerImage {
              border: 2px solid var(--whiteColor);
              height: 50px;
              width: 50px;
              overflow: hidden;
              border-radius: 50%;
              box-shadow: 0 4px 5px rgb(222, 222, 222);
            }
            .aboutReviewer {
              .name {
                color: var(--blackColor);
                font-weight: 600;
                padding-bottom: 0.5rem;
                font-size: 15px;
              }
              p {
                color: var(--textColor);
                font-size: 14px;
              }
            }
          }
          .rightDiv {
            gap: 0.3rem;
            align-items: flex-start;
            .icon {
              color: rgb(255, 165, 0);
            }
            blockquote {
              font-weight: 600;
              font-size: 16px;
            }
          }
        }
        &:hover {
          transform: translateY(-7px);
          .imgDiv {
            box-shadow: -3px 7px 16px -4px rgba(140,131,114,0.3);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 520px) {
  .review {
    .secContainer {
      .secHeading {
        margin-top: 1rem;
      }
      .secTitle {
        font-size: 23px;
      }
      .navBtns {
        gap: 0.5rem;
        .icon {
          font-size: 40px;
        }
      }
    }
    .reviewContainer {
      grid-template-columns: repeat(2, 1fr);
      .singleReview {
        .reviewTitle {
          font-size: 18px;
        }
        .desc {
          font-size: 16px;
        }
        .reviewerDiv {
          .leftDiv {
            .aboutReviewer {
              .name {
                font-size: 17px;
              }
              p {
                font-size: 16px;
              }
            }
          }
          .rightDiv {
            .icon {
              font-size: 16px;
            }
            blockquote {
              font-weight: 600;
              font-weight: 17px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 940px) {
  .review {
    .secContainer {
      .secHeading {
      }
      .secTitle {
        font-size: 28px;
      }
      .navBtns {
        gap: 1rem;
      }
    }
    .reviewContainer {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
