@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {

  --font-family: "DM SANS", sans-serif;

  --primary-color: #526D82;
  --secondary-color: #01d293;
  --focusColor: #837a6a;
  --silentColor:#e9dfd1;
  --hoverColor: #6e8999;
  --body-bg: #eeeeee;
  --color-blog: #042c54;
  --pureWhiteColor:#FFFFFF;
  
  --gradient-text: linear-gradient(120.97deg, #c7bcad 0.84%, #A59E8C 102.67%);
  --gradient-bar: linear-gradient(103.22deg,#cf8862  -13.86%, #8C8372 99.55%);
  --gradient-hover: linear-gradient(103.22deg,#8C8372  -13.86%, #cf8862  99.55%);
  --card-01-bg: linear-gradient(#ef621c, #e1424e);
  --text-alert: #dd703a;
  --card-02-bg: linear-gradient(#01d293, #56c57a);
  --card-03-bg: #725cff;
  --card-04-bg: #2884ff;
  --heading-color: #eeeeee;
  --bg-color-2: #f2f3f7;
  --heading-color2: rgb(177, 174, 174);
  --small-text-color: #808191;
  --recommend-car01-bg: #e1dfa4;
  --recommend-car02-bg: #e3ecf1;
  --recommend-car03-bg: #f4e3e5;
}
