.userLocation {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    .mainHead1 {
        color: var(--primaryColor);
        font-size: 30px;
        font-weight: 350;
        padding: 10px 20px;
        margin-top: 10px;
    }
    .mainButton1 {
        background-color: none;
        border: 1px solid var(--primaryColor);
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 3rem;
        cursor: pointer;
        color: var(--primaryColor);
        &:hover {
            background-color: var(--pureWhiteColor);
            transform: scale(1.1);
            transition: all 0.4s ease-in-out;
        }
    }
    .form {
        padding: 10px 30px;
        label {
            font-size: 1.2rem;
            font-weight: 300;
            margin-top: 20px;
        }
    }
    textarea {
        padding: 10px 20px;
        border: 1px solid var(--secondaryColor);
        border-radius: 5px;
        outline: none;
        &:focus {
            border: 1px solid var(--primaryColor);
        }
    }
}

@media screen and (max-width: 520px) {
    .userLocation {
        .mainHead1 {
            font-size: 24px;
        }
        .mainButton1 {
            font-size: 1rem;
        }
        .form {
            label {
                font-size: 1rem;
                margin-top: 15px;
            }
        }
    }
}

@media screen and (min-width: 520px) and (max-width: 770px) {
    .userLocation {
        .mainHead1 {
            font-size: 27px;
        }
        .mainButton1 {
            font-size: 1.2rem;
        }
        .form {
            label {
                font-size: 1.1rem;
                margin-top: 17px;
            }
        }
    }
}