.models {
    margin: 1rem 2rem;
    .secContainer {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      padding: 2rem 2rem;
      
      .tableContainer {
        table {
          tbody,
          thead {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-self: left;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            th {
              width: 50px;
              color: var(--primary-color);
            }
            td {
              width: 150px;
              text-align: left;
            }
          }
        }
      }
    }
  }
  