

.register {
  background-color: var(--fourthColor);
  background: linear-gradient(to right, var(--pureWhiteColor), var(--whiteColor));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.containers {
  background-color: var(--pureWhiteColor);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;

  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
    color: var(--whiteColor);
  }

  span {
    font-size: 12px;
    color: var(--primaryColor);
  }

  a {
    color: var(--textColor);
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
  }

  button {
    background-color: var(--fourthColor);
    color: var(--pureWhiteColor);
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;

    &.hidden {
      background-color: transparent;
      border-color: var(--pureWhiteColor);
    }
  }

  .form {
    background-color: var(--pureWhiteColor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    h1{
      color:var(--primaryColor)
    }
   
  }
  .sign-in-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    .row{
     padding:0 1rem;
    }
  }
  .input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
  }

  &.active {
    .sign-in {
      transform: translateX(100%);
    }

    .sign-up {
      transform: translateX(100%);
      opacity: 1;
      z-index: 5;
      animation: move 0.6s;
    }

    .toggle-containers {
      transform: translateX(-100%);
      border-radius: 0 150px 100px 0;
    }

    .toggle {
      transform: translateX(50%);
    }

    .toggle-left {
      transform: translateX(0);
    }

    .toggle-right {
      transform: translateX(200%);
    }
  }
}

.form-containers {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;

  &.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
  }

  &.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;

  .icon {
    border: 2px solid var(--secondaryColor);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 32px;
    height: 32px;
    img{
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
      object-fit: cover;
      width: 30px;
      height: 30px;
      border-radius: 50%;
  }
  }
}

.toggle-containers {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;

  &.active {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
  }
}

.toggle {
  background-color: var(--primaryColor);
  height: 100%;
  background: linear-gradient(to right, var(--secondaryColor), var(--primaryColor));
  color: var(--pureWhiteColor);
  position: relative;
  left: -100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;

  &.active {
    transform: translateX(50%);
  }
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;

  &.toggle-left {
    transform: translateX(-200%);
  }

  &.toggle-right {
    right: 0;
    transform: translateX(0);
  }
}

@media screen and (min-width:320px ){
  .containers {
    max-width: 90%;
    min-height: 800px;
    .form{
      padding: 0 10px;
      .input{
        padding: 10px 15px;
        margin:  10px 0;
      }
     
    }

    h1{
      font-size:30px
    }
   
  
    p {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.3px;
      margin: 10px 0;
      color: var(--whiteColor);
    }
  
    span {
      font-size: 11px;
      color: var(--primaryColor);
    }
  
    a {
      color: var(--textColor);
      font-size: 12px;
      text-decoration: none;
      margin: 15px 0 10px;
    }
  
    button {
      background-color: var(--fourthColor);
      color: var(--pureWhiteColor);
      font-size: 11px;
      padding: 10px 25px;
      border: 1px solid transparent;
      
    }
  }
  .social-icons{
    display: none;
  }
  
  
}

@media screen and (min-width:720px ){
  .containers{
    width: 700px;
    max-width: 100%;
    min-height: 480px;
    .form{
      padding: 0 10px;
      .input{
        padding: 10px 15px;
        margin:  8px 0;
      }
  }
}
}

.inline-flex{
  display: inline-flex!important;
}