.secContainer {
  padding: 4rem 2rem;
  .contentContainer {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    background: var(--pureWhiteColor);
    padding: 2rem 4rem;
    button {
      background: var(--primaryColor);
      color: var(--pureWhiteColor);
      border: 3px dashed var(--primaryColor);
      padding: 0.5 2rem;
      font-weight: 500;
      &:hover {
        background: var(--pureWhiteColor);
        color: var(--primaryColor);
        transition: 0.3s ease-in-out;
        letter-spacing: 0.05em;
      }
    }
    p, h2{
        &:hover {
            color: var(--textColor);
            transition: 0.3s ease-in-out;
            letter-spacing: 0.05em;
          }
    }
  }
}
