.auction .secContainer .secHeading {
  justify-content: space-between;
  padding: 1rem 0;
}
.auction .secContainer .secHeading .navBtns {
  gap: 0.5rem;
}
.auction .secContainer .secHeading .navBtns .icon {
  padding: 3px 5px;
  background: var(--secondaryColor);
  border-radius: 3px;
  font-size: 30px;
  cursor: pointer;
}
.auction .secContainer .secHeading .navBtns .icon:hover {
  background: var(--primaryColor);
  color: var(--whiteColor);
}
.auction .secContainer .carContainer {
  gap: 1.5rem;
}
.auction .secContainer .carContainer .singleCar {
  transition: 0.3s ease-in-out;
  text-align: left;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: var(--bs-dark-bg-subtle);
}
.auction .secContainer .carContainer .singleCar .imgDiv {
  padding: 0.5rem;
  text-align: left;
  height: 240px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  border: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.auction .secContainer .carContainer .singleCar .imgDiv img {
  height: 100%;
  width: -moz-min-content;
  width: min-content;
  -o-object-fit: cover;
     object-fit: cover;
}
.auction .secContainer .carContainer .singleCar .carTitle {
  color: var(--blackColor);
  font-size: 15px;
  padding-top: 10px;
}
.auction .secContainer .carContainer .singleCar .miles {
  color: var(--blackColor);
  opacity: 0.7;
  font-size: 14px;
}
.auction .secContainer .carContainer .singleCar .AWD {
  padding: 1rem 0;
  color: var(--blackColor);
  font-weight: 600;
  font-size: 15px;
}
.auction .secContainer .carContainer .singleCar .price_buyBtn {
  gap: 1rem;
}
.auction .secContainer .carContainer .singleCar .price_buyBtn span, .auction .secContainer .carContainer .singleCar .price_buyBtn button {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-weight: 600;
  border: 1px solid var(--primaryColor);
}
.auction .secContainer .carContainer .singleCar .price_buyBtn span.price, .auction .secContainer .carContainer .singleCar .price_buyBtn button.price {
  background: var(--secondaryColor);
  color: var(--primaryColor);
}
.auction .secContainer .carContainer .singleCar .price_buyBtn span.buyBtn, .auction .secContainer .carContainer .singleCar .price_buyBtn button.buyBtn {
  background: var(--primaryColor);
  color: var(--whiteColor);
  cursor: pointer;
}
.auction .secContainer .carContainer .singleCar .price_buyBtn span.buyBtn:hover, .auction .secContainer .carContainer .singleCar .price_buyBtn button.buyBtn:hover {
  background: var(--secondaryColor);
  color: var(--primaryColor);
  cursor: pointer;
}
.auction .secContainer .carContainer .singleCar:hover {
  transform: translateY(-7px);
  padding: 1rem;
  background-color: var(--secondaryColor);
}
.auction .secContainer .carContainer .singleCarActive {
  padding: 1rem;
  background: var(--pureWhiteColor);
}
.auction .secContainer .carContainer .singleCarActive .price_buyBtn span {
  border: 2px solid var(--primaryColor);
}

@media screen and (min-width: 520px) {
  .auction .secContainer .secHeading {
    margin-top: 1rem;
  }
  .auction .secContainer .secHeading .secTitle {
    font-size: 23px;
  }
  .auction .secContainer .secHeading .navBtns {
    gap: 0.5rem;
  }
  .auction .secContainer .secHeading .navBtns .icon {
    font-size: 40px;
  }
  .auction .secContainer .carContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .auction .secContainer .carContainer .singleCar .carTitle {
    font-size: 18px;
  }
  .auction .secContainer .carContainer .singleCar .miles,
  .auction .secContainer .carContainer .singleCar .AWD {
    font-size: 16px;
  }
  .auction .secContainer .carContainer .singleCar .price_buyBtn {
    font-weight: 600;
    font-size: 13px;
  }
}
@media screen and (min-width: 940px) {
  .auction .secContainer .secHeading .secTitle {
    font-size: 28px;
  }
  .auction .secContainer .secHeading .navBtns {
    gap: 1rem;
  }
  .auction .secContainer .carContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .auction .secContainer .carContainer .singleCar .price_buyBtn {
    font-size: 11px;
  }
}/*# sourceMappingURL=auctions.css.map */