/*success-page*/
.response{
    padding:8rem 8rem;
    .secContainer{
      margin:2rem 8rem;
      padding:2rem 6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .titleContainer{
        h2{
          color: var(--primaryColor);
          text-transform: uppercase;
        }
        .text-alert{
          color: var(--color-danger);
        }
        .text-warning{
          color: var(--color-warning);
        }
      }
      .contentContainer{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        p{
          display: flex;
          flex-direction: column;
        }
      }
      .actionContainer{
        display: flex;
        column-gap:2rem;
        .btn{
          color:var(--pureWhiteColor);
          padding: 0.5rem 2rem;
          font-weight: 500;
        }
        .btn-profile{
          background: var(--textColor);
          border:3px dashed var(--textColor);
          &:hover{
            transition: 0.3s ease-in-out;
            background: var(--pureWhiteColor);
            color: var(--textColor);
          }
        }
        .btn-home{
          background: var(--primaryColor);
          border:3px dashed var(--primaryColor);
          &:hover{
            transition: 0.3s ease-in-out;
            background: var(--pureWhiteColor);
            color: var(--primaryColor);
          }
        }
      }
    }
  }

  @media screen and (max-width:1440px) {
    .secContainer{
      margin:0!important;
    }
  }
  /*success-page*/