
.ourteam{
    padding-top: 130px;
}

.team .member {
    position: relative;
    padding: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10), 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: var(--whiteColor);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    min-height: 190px;
}
.team .member:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.team .member:hover .teampic img{
    transform: scale(1.2);
}
.team .member .teampic img{
    transition: transform 0.3s ease-in-out;
}

.team .member .teampic{
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}
.team .member .member-info{
    padding-left: 30px;
}
.team .member h4{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: var(--primaryColor);
}
.team .member span{
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
    color: var(--secondaryColor);
}
.team .member span::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: var(--primaryColor);
    bottom: 0;
    left: 0;
}
.team .member p{
    margin: 10px 0 0 0;
    font-size: 14px;
}
.team .member .social{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.team .social a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--primaryColor);
}
.team .member .social a i{
    color: var(--whiteColor);
    font-size: 16px;
    margin: 0 2px;
}
.team .member .social a:hover{
    background: var(--whiteColor);
}
.team .member .social a:hover i{
    color: var(--primaryColor);
}
.team .member .social a+a{
    margin-left: 8px;
}
section{
    padding: 60px 0;
    overflow: hidden;
}
.section-title{
    text-align: center;
    padding-bottom: 30px;
}
.underline{
    width: 150px;
    height: 1px;
    background-color: var(--blackColor);
    margin: auto;
    margin-top: -30px;
}
.section-title h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: var(--primaryColor);
}
.section-title p{
    margin-top: 20px;
}