.btnContainer {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  .btn {
    color: var(--pureWhiteColor);
    &:hover {
      background: var(--pureWhiteColor);
      transition: 0.3s ease-in-out;
    }
  }
  .btn-apply {
    background: var(--color-success);
    border: 3px dashed var(--color-success);
    &:hover {
      background: var(--pureWhiteColor);
      transition: 0.3s ease-in-out;
      border: 3px dashed var(--color-success);
      color: var(--color-success);
    }
  }
  .btn-cancel {
    background: var(--color-danger);
    border: 3px dashed var(--color-danger);

    &:hover {
      color: var(--color-danger);
      border: 3px dashed var(--color-danger);
    }
  }
}
.packageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
  p {
    margin-bottom: 0;
  }
  div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 0.5rem;
    span {
      color: var(--textColor);
      font-size: 14px;
      line-height: 20px;
      button {
        border: none;
        background: none;
        outline: none;
        &:hover {
          color: var(--primaryColor);
        }
      }
    }
  }
}
.css-dmmspl-MuiFormGroup-root {
  flex-direction: row !important;
}
.css-ahj2mt-MuiTypography-root {
  font-size: 14px !important;
}
.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: var(--color-success) !important;
}

#simple-popper-insurance,
#simple-popper-assistance {
  position: absolute;
  top: 80% !important;
  background: var(--pureWhiteColor);
  width: 250px;
  padding: 0.5rem;
  height: auto;

  border-radius: 0.5rem;
  font-size: 13px;
  color: var(--primaryColor);
}
#simple-popper-insurance {
  left: 25% !important;
}
#simple-popper-assistance {
  left: 30% !important;
}
@media screen and (min-width: 420px) {
  p{
    font-size: 14px;
  }
  .reservation {
    padding: 0;
    .secContainer {
      padding: 0;
      margin: 0;
      .imgContainer {
        padding: 0;
        img {
          width: 60%;
          margin-top: 1rem;
        }
      }
      .secHeading {
        margin: 0;
      }
      .secContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        z-index: 99;
        text-align: left;
        padding: 0 2rem;
        .customerCardContainer {
          .customerCard {
            .rowInfo {
              p {
                display: grid;
                grid-template-columns: 20% 50%;
              }
            }
          }
        }
        .topContent {
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 0.5rem;
          width: -webkit-fill-available;
          .dateContentContainer {
            align-items: flex-start;
            padding: 0;
            p {
              display: grid;
              grid-template-columns: 20% 50%;
            }
            .discountContainer {
              justify-content: start;
            }
          }
        }
        .middleContent {
          flex-direction: column;
          align-items: flex-start;
          padding: 0;
          width: -webkit-fill-available;
          .rentalCard{
            p {
              display: grid;
              grid-template-columns: 20% 50%;
            }
          }
          .priceCardContainer {
            
            .priceCard {
              align-items: flex-start;
              p {
                gap: 0 0.5rem;
                text-align: left;
                display: grid;
              grid-template-columns: 20% 50%;
              }
            }
          }
        }
        .bottomContainer {
          flex-direction: column;
          align-items: flex-start;
          width: -webkit-fill-available;
          .packageContainer {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            row-gap: 1rem;
            margin: 1rem 0;
            width: -webkit-fill-available;
            div {
              column-gap: 0;
            }
          }
          .actionContainer {
            margin: 1rem 0;
            flex-direction: column;
            align-items: flex-start;
            .radioContainer {
              margin: 1rem 0;
              flex-direction: column;
              align-items: flex-start;
              .css-j204z7-MuiFormControlLabel-root {
                margin-right: 5px;
              }
              .css-ahj2mt-MuiTypography-root {
                font-size: 10px !important;
              }
            }
            .btnContainer {
              display: grid;
              grid-template-columns: 50% 50%;
              justify-content: center;
              button {
                padding: 0.25rem 2rem;
              }
            }
          }
        }
      }
    }
  }
  .css-dmmspl-MuiFormGroup-root {
    width: -webkit-fill-available;
    column-gap: 1rem;
  }
}
@media screen and (min-width: 520px) {
  .reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 6rem 0;
    .secContainer {
      padding: 2rem 8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .imgContainer {
        padding: 6rem 0;
        position: absolute;
        opacity: 10%;
      }
      .secHeading {
        margin: 0;
      }
    }
  }
}
@media screen and (min-width: 640px) {
  .reservation {
    padding: 4rem 0;
    .secContainer {
      padding: 2rem 1rem;
      margin: 0;
      flex-direction: column;
      .imgContainer {
        padding: 0rem 14rem;
      }
      .secHeading {
        margin: 0;
      }
      .secContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        .topContent {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
          margin-bottom: 0.5rem;
          .customerCardContainer {
            .customerCard {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
            }
          }
          .dateContentContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 0;
          }
        }
        .middleContent {
          align-items: stretch;
          padding: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .rentalCard {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
          }
          .priceCardContainer {
            .priceCard {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              p {
                gap: 0 0.5rem;
                text-align: left;
              }
            }
          }
        }
        .bottomContainer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          .packageContainer {
            justify-content: flex-start;
            align-items: flex-start;
            row-gap: 0rem;
            display: flex;
            margin-top: 1rem;
            div {
              column-gap: 0;
            }
          }
          .actionContainer {
            align-items: normal;
            display: flex;

            .radioContainer {
              margin: 1rem 0;
              align-items: flex-end;
              display: flex;
              flex-direction: column;
              .css-j204z7-MuiFormControlLabel-root {
                margin-right: 5px;
              }
              .css-ahj2mt-MuiTypography-root {
                font-size: 10px !important;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 720px) {
  .imgContainer {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 0;
    text-align: center;
    z-index: 0;
    padding: 18rem 4rem !important;
    margin: 0 auto;
  }
  .secHeading {
    margin: 2rem 0 4rem 0rem !important;
  }
}
@media screen and (min-width: 940px) {
}
@media screen and (min-width: 1024px) {
  .reservation {
    .secContainer {
      .imgContainer {
        position: absolute;
        left: 25%;
        right: 25%;
        top: 0;
        text-align: center;
        z-index: 0;
        padding: 6rem 4rem;
        margin: 0 auto;
      }
      .secContent {
        padding: 0 2rem;
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .reservation {
    padding: 8rem 8rem;
    p {
      color: var(--grayColor);
    }
    .bgWhite {
      background-color: var(--whiteColor);
    }
    .secContainer {
      .imgContainer {
        opacity: 1;
        position: absolute;
        left: 25%;
        right: 25%;
        top: 0;
        text-align: center;
        z-index: 0;
        padding: 10rem 12rem !important;
        margin: 0 auto;
        img {
          width: 100%;
          object-fit: contain;
        }
      }

      .secHeading {
        margin: 2rem 0 0 6rem;
        text-align: left;
        color: var(--primaryColor);
      }
      .secContent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: normal !important;
        row-gap: 2rem;
        z-index: 1;
        padding: 0 6rem;
        .topContent {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;

          .customerCard {
            box-sizing: content-box;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0.5 1rem;
            border-bottom: 2px solid var(--textColor);
            p {
              display: grid;
              grid-template-columns: 75px auto!important;
              align-items: flex-start;
              text-align: left;
              color: var(--grayColor);
            }
          }
          .dateContentContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            padding: 0.5 1rem;
            border-bottom: 2px solid var(--textColor);
            p{
              grid-template-columns: 120px auto!important;
            }
            .discountContainer{
              justify-content: end!important;
            }
          }
        }
        .middleContent {
          padding: 2rem 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          .rentalCard {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            padding: 0.5 1rem;
            p {
              display: grid;
              grid-template-columns: 75px auto;
              align-items: flex-start;
              text-align: left;
            }
          }
          .priceCardContainer {
            padding: 0.5 1rem;

            .priceCard {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-end;
              p {
                display: grid;
                grid-template-columns: auto 125px;
                align-items: flex-end;
                text-align: right;
              }
            }
          }
        }
        .bottomContainer {
          border-top: 1px solid var(--textColor);
          margin: 0.5rem 0;
          padding: 0.5rem 0;
          display: grid;
          grid-template-columns: 30% 70%;
          flex-direction: row;
          justify-content: space-between;
          align-items: baseline;
          gap: 0;
          .packageContainer {
            display: grid;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            column-gap: 0.5rem;
            p {
              margin-bottom: 0;
            }
            div {
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              align-items: center;
              column-gap: 0.5rem;
              span {
                color: var(--textColor);
                font-size: 14px;
                line-height: 20px;
                button {
                  border: none;
                  background: none;
                  outline: none;
                  &:hover {
                    color: var(--primaryColor);
                  }
                }
              }
            }
          }
          .actionContainer {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            column-gap: 2rem;
            color: var(--textColor);
            font-size: 14px !important;
            .radioContainer {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-around;
              gap: 1rem;
              p {
                margin-bottom: 0;
              }
            }
            .btnContainer {
              display: flex;
              flex-direction: row;
              column-gap: 1rem;
              .btn {
                color: var(--pureWhiteColor);
                &:hover {
                  background: var(--pureWhiteColor);
                  transition: 0.3s ease-in-out;
                }
              }
              .btn-apply {
                background: var(--color-success);
                border: 3px dashed var(--color-success);
                &:hover {
                  background: var(--pureWhiteColor);
                  transition: 0.3s ease-in-out;
                  border: 3px dashed var(--color-success);
                  color: var(--color-success);
                }
              }
              .btn-cancel {
                background: var(--color-danger);
                border: 3px dashed var(--color-danger);

                &:hover {
                  color: var(--color-danger);
                  border: 3px dashed var(--color-danger);
                }
              }
            }
          }
        }
      }
    }
  }

  .css-dmmspl-MuiFormGroup-root {
    flex-direction: row !important;
  }
  .css-ahj2mt-MuiTypography-root {
    font-size: 14px !important;
  }
  .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    color: var(--color-success) !important;
  }
  #simple-popper-insurance,
  #simple-popper-assistance {
    position: absolute;
    top: 80% !important;
    background: var(--pureWhiteColor);
    width: 250px;
    padding: 0.5rem;
    height: auto;

    border-radius: 0.5rem;
    font-size: 13px;
    color: var(--primaryColor);
  }
  #simple-popper-insurance {
    left: 25% !important;
  }
  #simple-popper-assistance {
    left: 30% !important;
  }
}
