.navbar {
  position: fixed;
  top: 0;
  left: calc(260px + 10px);
  z-index: 999;
  background: var(--primary-color);
  width: calc(100% - 260px);
  height: 70px;
  //line-height: 70px;

  .navbar__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    gap: 1rem;
    color: var(--heading-color);
    .search__box {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 1rem;
      background: var(--body-bg);
      justify-content: space-between;
      padding: 0 30px;
      border-radius: 5px;
      height: 40px;
      background: var(--body-bg);

      input {
        background: transparent;
        border: none;
        outline: none;
        color: var(--heading-color);
        &::placeholder {
          color: var(--hoverColor);
        }
      }
      span {
        svg {
          color: var(--primary-color);
        }
      }
    }
    .navbar__right {
      display: flex;
      align-items: center;
      column-gap: 2rem;
      justify-content: flex-end;
      .notification {
        position: relative;
        .svg {
          cursor: pointer;
          font-size: 1.2rem;
        }
        .badge {
          position: absolute;
          top: -5px;
          right: -5px;
          width: 15px;
          height: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--secondary-color);
          border-radius: 50%;
          font-size: 0.8rem;
        }
      }
      .profile {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: row;
        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }
  }
}
