.booking {
  padding: 0px 30px;
  padding-bottom: 50px;
  .secContainer {
    .booking__wrapper {
      .booking__title {
        font-size: 1.5rem;
        color: var(--primary-color);
        margin-bottom: 2rem;
      }
      .filter__widget-wrapper {
        display: flex;
        align-items: center;
        column-gap: 1.5rem;
        .filter__widget-01 {
          select,
          input[type="date"] {
            border: none;
            padding: 7px 20px;
            border-radius: 50px;
            background: var(--primary-color);
            color: var(--pureWhiteColor);
            cursor: pointer;
            margin-bottom: 2rem;
          }
          input[type="text"] {
            border: none;
            padding: 7px 20px;
            border-radius: 50px;
            background: var(--pureWhiteColor); 
            color: var(--textColor);
            cursor: text;
            margin-bottom: 2rem;
            font-size: 1rem;
            text-transform: uppercase;
            &:focus {
              outline: none;
            }
            &::placeholder {
              color: --textColor
            }
          }
        }
        
        .filter__widget-02 select {
          border: none;
          padding: 7px 20px;
          border-radius: 50px;
          background: var(--primary-color);
          color: var(--pureWhiteColor); 
          cursor: pointer;
          margin-bottom: 2rem;
        }
        .clear-all {
          padding: 7px 20px;
          background-color: var(--text-alert);
          border: 3px solid var(--text-alert);
          color: var(--textColor);
          text-align: center;
          text-decoration: none;
          font-size: 1rem;
          cursor: pointer;
          transition-duration: 0.4s;
          border-radius: 50px; 
    margin-bottom: 2rem;
    box-sizing: border-box;

          &:hover {
          
    border: 3px solid var(  --card-04-bg); 
          }
        }
      }
      .booking__car-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;
        .car__item {
          padding: 20px;
          border-radius: 5px;
          background: var(--primary-color);
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: stretch;

          .car__item-top {
            margin-bottom: 15px;
            .car__item-tile {
              display: flex;
              align-items: center;
              justify-content: space-between;
              h3 {
                font-size: 1rem;
                color: var(--heading-color);
                font-weight: 400;
              }

              span {
                i {
                  font-size: 1.3rem;
                  color: var(--small-text-color);
                  cursor: pointer;
                }
              }
            }
            p {
              color: var(--small-text-color);
              font-size: 0.9rem;
              font-weight: 400;
            }
          }
          .car__img {
            margin-bottom: 20px;
            img {
              object-fit: contain;
              width: 100%;
            }
          }
          .car__item-bottom {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .car__bottom-left {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              column-gap: 1.5rem;
              p {
                display: flex;
                align-items: center;
                column-gap: 8px;
                color: rgba(255, 255, 255, 0.829);
                font-weight: 300 !important;
                i {
                  color: var(--secondary-color);
                }
              }
            }
            .car__rent {
              color: rgba(255, 255, 255, 0.829);
              font-size: 1.1rem;
            }
          }
        }
      }
    }

    /*Detail Page*/
  
     .titleContainer {
        padding: 0.5rem;
      }
      .contentContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding:2rem 4rem;
        .topContent,
        .middleContent,
        .bottomContent {
          display: flex;
          flex-direction: row;
        }
        .topContent {
          align-items: flex-start;
          justify-content: space-between;
          .rentalDateContainer {
            display: flex;
            flex-direction: column;
            align-items: normal;
          }
        }
        .middleContent {
          justify-content: center;
        }
        .bottomContent {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: end;
        }
      }
      .actionContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin:1.5rem 0;
        button{
         padding: 0.5rem 2rem;
         background-color: var(--text-alert);
         border:3px dashed var(--text-alert);
         color:var(--pureWhiteColor);
         font-weight: 500;
         &:hover{
          transition: 0.3 sn ease-in-out;
          color:var(--text-alert);
          background-color: var(--pureWhiteColor);
         }
        }
      }
    
    /*Detail Page*/
  }
}
.formContainer{
  margin:2rem 4rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 20px 0;

  button {
    margin: 0 15px;
    padding: 10px 20px;
    background-color: #4CAF50; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 5px;

    &:hover {
      background-color: #45a049;
    }

    &:disabled {
      background-color: #cccccc;
      color: #666666;
    }
  }

  span {
    font-size: 18px;
    margin: 0 10px;
  }
}