.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 2rem;
  box-shadow: 0 4px 6px rgb(237 237 237);
  z-index: 1000;
}

.logoDiv .logo {
  width: 25px;
}

@media screen and (max-width: 768px) {
  .navbar {
    position: absolute;
    background: var(--secondaryColor);
    width: 80%;
    top: 7rem;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    text-align: center;
    padding: 2rem;
    transition: 0.3s ease;
    z-index: 2000;
  }
  .closeIcon {
    position: absolute;
    bottom: -15px;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    background: var(--secondaryColor);
    color: var(--primaryColor);
    padding: 3px;
    border-radius: 50%;
    font-size: 35px;
  }
  .closeIcon:hover {
    color: red;
  }
  .menu {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .menu .listItem {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
  }
  .menu .listItem a {
    font-size: 15px;
  }
  .menu .listItem:hover {
    background: var(--primaryColor);
    color: var(--whiteColor);
    transition: 0.3s ease;
  }
  .menu .listItem a:hover {
    color: var(--whiteColor);
  }
}

.signUp {
  gap: 0.5rem;
}
.signUp .text {
  padding: 3px 10px;
  background: var(--primaryColor);
  border-radius: 3px;
  color: var(--whiteColor);
  cursor: pointer;
  font-size: 14px;
}
.signUp .text:hover {
  background: var(--secondaryColor);
  color: var(--blackColor);
}
