.footer {
  padding-top: 4rem;
  margin: 1.5rem;
  .footerContainer {
    padding: 2rem;
    background: var(--greyColor);
    border-radius: 10px;
    gap: 1.5rem;

    .singleGrid {
      .footerTitle {
        display: block;
        padding-top: 0.5rem;
        font-size: 16px;
        color: var(--blackColor);
        font-weight: 700;
      }
      .footerUl {
        gap: 5px;
        padding-left: 0;
        .footerLi {
          color: var(--textColor);
          &:hover {
            color: var(--blackColor);
            transform: translateX(5px);
            transition: 0.3s;
          }
        }
      }
    }
  }
  .lowerSection {
    padding: 1rem;
    text-align: center;
  }
}
