.search {
  padding: 2rem 0;
  .secContainer {
    width: 75%;
    margin: 0 auto;
  }
  .title {
    color: var(--blackColor);
    font-size: 22px;
    padding: 1rem 0;
    text-align: center;
    font-weight: 700;
    line-height: 1.7rem;
  }
  .searchDiv {
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    input {
      border-radius: 10px;
      padding: 5px 10px;
      outline: none;
      width: 100%;
      &:focus {
        border: none;
        border: none !important;
      }
    }
    .btn {
      justify-content: center;
      width: 100%;
      align-self: center;
      gap: 0.3rem;
      .icon {
        font-size: 15px;
      }
    }
  }
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: var(--placeHolderColor);
  font-weight: 500 !important;
  font-size: 1.1rem !important;
  line-height: 2.51em;
  max-width: calc(133% - 3px) !important;
  left: -3px !important;
  top: -5px !important;
  &:hover {
    outline: none !important;
    border: none !important;
  }
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: var(--font-family) !important;
  &:hover {
    outline: none !important;
    border: none !important;
  }
}
.css-i4bv87-MuiSvgIcon-root {
  color: var(--primaryColor) !important;
  &:hover {
    color: var(--placeHolderColor) !important;
  }
}

.css-1anqmj6-MuiPopper-root-MuiPickersPopper-root {
 
}

@media screen and (min-width: 520px) {
  .search {
    .title {
      font-size: 25px;
      padding: 2rem 0;
    }
    .searchDiv {
      input {
        padding: 10px;
        font-weight: 600;
        color: var(--primaryColor);
        border-radius: 3px;
      }
      .btn {
        justify-content: center;
        width: 100%;
        align-items: center;
        gap: 0.3rem;
        font-size: 16px;
        border-radius: 3px;
        .icon {
          font-size: 18px;
        }
      }
    }
  }
}
@media screen and (min-width: 770px) {
  .search {
    .title {
      font-size: 30px;
      padding: 2rem 0;
    }
    .searchDiv {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media screen and (min-width: 996px) {
  .search {
    width: 80%;
    margin: auto;
    .searchDiv {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
