.payment {
  padding: 4rem 2rem;
}
.payment .secContainer {
  margin: 4rem 4rem;
}
.payment .secContainer .headingDiv {
  padding-top: 2rem;
  text-align: center;
}
.payment .secContainer .headingDiv h2 {
  color: var(--primaryColor);
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.payment .secContainer .contentDiv {
  margin: 0.5rem;
  padding: 0 4rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.payment .secContainer .contentDiv .formContainer {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 2rem 8rem 4rem 8rem;
  margin: 0 6rem 4rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  text-align: left;
}
.payment .secContainer .contentDiv .formContainer .form .infoRow,
.payment .secContainer .contentDiv .formContainer .form .amountRow {
  padding: 2rem 0;
}
.payment .secContainer .contentDiv .formContainer .form .infoRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.payment .secContainer .contentDiv .formContainer .form .amountRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.payment .secContainer .contentDiv .formContainer .form .btnRow {
  gap: 0.5rem;
}
.payment .secContainer .contentDiv .formContainer .form .btnRow .btn {
  padding: 0.5rem 2rem;
  font-size: 16px;
  font-weight: 500;
}
.payment .secContainer .contentDiv .formContainer .form .btnRow .btn-submit {
  background: var(--primaryColor);
  color: var(--pureWhiteColor);
}
.payment .secContainer .contentDiv .formContainer .form .btnRow .btn-submit:hover {
  background: var(--secondaryColor);
  color: var(--placeHolderColor);
  transition: 0.3ms ease-in;
}
.payment .secContainer .contentDiv .formContainer .form .btnRow .btn-cancel {
  background: var(--focusColor);
  color: var(--blackColor);
}
.payment .secContainer .contentDiv .formContainer .form .btnRow .btn-cancel:hover {
  background: var(--blackColor);
  color: var(--pureWhiteColor);
  transition: 0.3ms ease-in;
}
.payment .secContainer .contentDiv .formContainer .form .form-label,
.payment .secContainer .contentDiv .formContainer .form p {
  font-size: 16px;
  color: var(--textColor);
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}
.payment .secContainer .contentDiv .formContainer .form input {
  font-size: 16px;
  color: var(--textColor);
}
.payment .secContainer .contentDiv .formContainer .form input::-moz-placeholder {
  font-size: 16px;
  color: var(--textColor);
}
.payment .secContainer .contentDiv .formContainer .form input::placeholder {
  font-size: 16px;
  color: var(--textColor);
}
.payment .secContainer .contentDiv .btnRow {
  gap: 0.5rem;
}
.payment .secContainer .contentDiv .btnRow .btn {
  padding: 0.5rem 2rem;
  font-size: 16px;
  font-weight: 500;
}
.payment .secContainer .contentDiv .btnRow .btn-submit {
  background: var(--primaryColor);
  color: var(--pureWhiteColor);
}
.payment .secContainer .contentDiv .btnRow .btn-submit:hover {
  background: var(--secondaryColor);
  color: var(--placeHolderColor);
  transition: 0.3ms ease-in;
}
.payment .secContainer .contentDiv .btnRow .btn-cancel {
  background: var(--focusColor);
  color: var(--blackColor);
}
.payment .secContainer .contentDiv .btnRow .btn-cancel:hover {
  background: var(--blackColor);
  color: var(--pureWhiteColor);
  transition: 0.3ms ease-in;
}

/*success-page*/
.success {
  padding: 8rem 8rem;
}
.success .secContainer {
  margin: 2rem 8rem;
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.success .secContainer .titleContainer h2 {
  color: var(--primaryColor);
  text-transform: uppercase;
}
.success .secContainer .titleContainer .text-alert {
  color: var(--color-danger);
}
.success .secContainer .contentContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.success .secContainer .contentContainer p {
  display: flex;
  flex-direction: column;
}
.success .secContainer .actionContainer {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.success .secContainer .actionContainer .btn {
  color: var(--pureWhiteColor);
  padding: 0.5rem 2rem;
  font-weight: 500;
}
.success .secContainer .actionContainer .btn-profile {
  background: var(--textColor);
  border: 3px dashed var(--textColor);
}
.success .secContainer .actionContainer .btn-profile:hover {
  transition: 0.3s ease-in-out;
  background: var(--pureWhiteColor);
  color: var(--textColor);
}
.success .secContainer .actionContainer .btn-home {
  background: var(--primaryColor);
  border: 3px dashed var(--primaryColor);
}
.success .secContainer .actionContainer .btn-home:hover {
  transition: 0.3s ease-in-out;
  background: var(--pureWhiteColor);
  color: var(--primaryColor);
}

/*success-page*//*# sourceMappingURL=payment.css.map */