.payment{
    padding: 4rem 2rem;
    .secContainer{
        margin:4rem 0rem;
        .headingDiv{
            padding:2rem;
            text-align: center;
        }
        .contentDiv{
            margin:0.5rem;
            padding: 1rem 2rem;
        }
    }
    
}