@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;

  /*--primaryColor: #7a63f1;
  --secondaryColor: #ebe8fc;
  --textColor:#a3a3a3;
  --greyColor:#e8e8e8;
  --whiteColor:#f5f4fa;
  --blackColor:#434344;*/

  --primaryColor: #8C8372;
  --secondaryColor: #A59E8C;
  --focusColor: #837a6a;
  --textColor:#a3a3a3;
  --greyColor:#f2f2f4;
  --whiteColor:#f5f4fa;
  --blackColor:#434344;
}
