@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;

  --gradient-text: linear-gradient(120.97deg, #c7bcad 0.84%, #A59E8C 102.67%);
  --gradient-bar: linear-gradient(103.22deg,#cf8862  -13.86%, #8C8372 99.55%);
  --gradient-hover: linear-gradient(103.22deg,#8C8372  -13.86%, #cf8862  99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  --color-black: rgba(0,0,0,0.61);

  /*--primaryColor: #7a63f1;
  --secondaryColor: #ebe8fc;
  --textColor:#a3a3a3;
  --greyColor:#e8e8e8;
  --whiteColor:#f5f4fa;
  --blackColor:#434344;*/

  --primaryColor: #526D82;
  --secondaryColor: #9DB2BF;
  --thirdColor: #F2D7B6;
  --fourthColor: #c7bcad;
  --fifthColor: #e9dfd1;
  --focusColor: #837a6a;
  --textColor:#a3a3a3;
  --backGroundColor:#ecf0f3;
  --greyColor:#f4f4f4;
  --whiteColor:#f5f4fa;
  --blackColor:#434344;
  --pureWhiteColor:#FFFFFF;
  --color-1 :#d2b582;
}
