/**select box**/
.form-check-input {
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.5em;
  margin-top: 0.1em;
  background-color: var(--bs-form-check-bg);
  border: 2px solid var(--textColor);
}
.form-check-input:checked {
  background-color: var(--primaryColor);
  border-color: var(--blackColor);
}
.form-check-input:focus {
  border-color: var(--secondaryColor);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(36, 1, 27, 0.25);
}

.form-check-label {
  color: var(--blackColor);
}
/**select box**/
/**ant-d**/
.ant-space {
  padding: 0 2rem;
}

/**ant-d**/

.shadow-rounded-box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0.5rem;
  background-color: var(--pureWhiteColor);
}
.carPage {
  padding: 4rem 8rem;
  .secContainer {
    padding: 0;
    justify-content: center;
    .secHeading {
      margin: 2rem 0;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      .search {
        width: 100%;
        .searchDiv{
          grid-template-columns: repeat(3,1fr);
          .primaryBtn{
            transform: none!important;
            opacity: 1!important;
          }
        }
        .title {
          display:none ;
        }}

      .btnPrimary {
        background: var(--primaryColor);
        color: var(--pureWhiteColor);
        border: none;
        padding: 0.5rem 0.75rem;
        font-weight: 500;
        transition: 0.3s ease-in-out;
        &:hover {
          background: var(--secondaryColor);
          color: var(--blackColor);
          border: 1.5px solid var(--secondaryColor);
        }
      }
    }
    .secContent {
      grid-template-columns: repeat(4, 1fr);
      align-items: flex-start;
      .filterContainer {
        grid-column-start: 1;
        grid-column-end: 1;
        .filter {
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
          .filterRow {
            min-width: 250px;
            padding: 2rem 2rem;
            margin: 1rem 1rem;
            .rowHead {
              margin-bottom: 1rem;
              h6 {
                color: var(--blackColor);
              }
            }
          }
        }
      }
      .carContainer {
        grid-column-start: 2;
        grid-column-end: 5;
        .searchDiv{
          margin:1rem 2rem;
          text-align: left;
          padding: 0 2rem;
          gap:1rem;
          label{
            font-weight: 500;
            color: var(--textColor);
            margin-right: 0.55rem;
          }
          .searchInput {
            text-align: center;
            width: 85%;
            border: none;
            border-radius: 0.2rem;
            outline: none;
            background: var(--whiteColor);
            margin: 1rem 0.5rem;
            padding: 0.5rem 0.75rem; 
            
            &:focus{
              border:none;
              outline:none;
              color: var(--primaryColor);
              background: var(--whiteColor);
            }
            &::placeholder{
              letter-spacing: 0.05rem;
              text-align: left;
              font-size:12px;
              color: var(--placeHolderColor);
              
            }
           
            
        }
        }
    
        .singleCar {
          background: var(--pureWhiteColor);
          border-radius: 0.5rem;
          padding: 1rem 2rem;
          margin: 1rem 2rem;
          text-align: left;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          div {
            grid-template-columns: repeat(3, 1fr);
            gap: 0.1rem 3.5rem;
            align-items: flex-end;
            justify-content: flex-end;
            .imgDiv {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0;
              border-radius: 0.5rem;
              border: none;
              width: 350px;
              height: 170px;
              img {
                object-fit: contain;
                width: 100%;
                max-width: 350px;
              }
            }
            .carLabel {
              font-weight: 600;
              color: var(--primaryColor);
            }
            .descriptionDiv {
              text-align: left;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: last baseline;
              font-size: 16px;
              .carTitle {
                color: var(--blackColor);
                font-size: 24px;
                margin-bottom: 4rem;
              }
              .carLabel {
                font-weight: 600;
                color: var(--primaryColor);
              }
              span {
                color: var(--textColor);
              }

              .price_seller {
                flex-direction: column;
              }
            }
            .actionDiv {
              display: flex;
              flex-direction: column;
              align-items: end;
              justify-content: center;
              .actionRow {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 0;
                span {
                  padding-bottom: 4.5rem;
                }
              }
              a,button {
                background: var(--pureWhiteColor);
                color: var(--primaryColor);
                border: 1.5px solid var(--primaryColor);
                padding: 0.5rem 0.75rem;
                font-weight: 500;
                font-size: 11.5px;
                transition: 0.3s ease-in-out;
                &:hover {
                  background: var(--secondaryColor);
                  color: var(--blackColor);
                  border: 1.5px solid var(--secondaryColor);
                }
              }
            }
          }
        }
        .paginationContainer {
          justify-content: center;
        }
      }
    }
  }
}
