/**select box**/
.form-check-input {
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.5em;
  margin-top: 0.1em;
  background-color: var(--bs-form-check-bg);
  border: 2px solid var(--textColor);
}
.form-check-input:checked {
  background-color: var(--primaryColor);
  border-color: var(--blackColor);
}
.form-check-input:focus {
  border-color: var(--secondaryColor);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(36, 1, 27, 0.25);
}

.form-check-label {
  color: var(--blackColor);
}
/**select box**/
/**ant-d**/
.ant-space {
  padding: 0 2rem;
}

/**ant-d**/

.shadow-rounded-box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0.5rem;
  background-color: var(--pureWhiteColor);
}
.carPage {
  padding: 4rem 8rem;
  .secContainer {
    padding: 0;
    justify-content: center;
    margin: 2rem 1rem;
    .secHeading {
      margin: 2rem 0;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      .search {
        width: 100%;
        .searchDiv {
          grid-template-columns: repeat(3, 1fr);
          .primaryBtn {
            transform: none !important;
            opacity: 1 !important;
          }
        }
        .title {
          display: none;
        }
      }

      .btnPrimary {
        background: var(--primaryColor);
        color: var(--pureWhiteColor);
        border: none;
        padding: 0.5rem 0.75rem;
        font-weight: 500;
        transition: 0.3s ease-in-out;
        &:hover {
          background: var(--secondaryColor);
          color: var(--blackColor);
          border: 1.5px solid var(--secondaryColor);
        }
      }
    }
    .secContent {
      grid-template-columns: repeat(4, 1fr);
      align-items: flex-start;
      .filterContainer {
        grid-column-start: 1;
        grid-column-end: 1;
        .filter {
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
          .filterRow {
            min-width: 250px;
            padding: 2rem 2rem;
            margin: 1rem 1rem;
            .rowHead {
              margin-bottom: 1rem;
              h6 {
                color: var(--blackColor);
              }
            }
          }
        }
      }
      .carContainer {
        grid-column-start: 2;
        grid-column-end: 5;
        .searchDiv {
          margin: 1rem 2rem;
          text-align: left;
          padding: 0 2rem;
          gap: 1rem;
          label {
            font-weight: 500;
            color: var(--textColor);
            margin-right: 0.55rem;
          }
          .searchInput {
            text-align: center;
            width: 85%;
            border: none;
            border-radius: 0.2rem;
            outline: none;
            background: var(--whiteColor);
            margin: 1rem 0.5rem;
            padding: 0.5rem 0.75rem;

            &:focus {
              border: none;
              outline: none;
              color: var(--primaryColor);
              background: var(--whiteColor);
            }
            &::placeholder {
              letter-spacing: 0.05rem;
              text-align: left;
              font-size: 12px;
              color: var(--placeHolderColor);
            }
          }
          button {
            font-size: 25px;
            margin: 0;
            padding: 0;
            outline: none;
            border: none;
            color: var(--primaryColor);
            &:hover {
              color: var(--blackColor);
              transition: 0.3s ease-in-out;
              font-size: 28px;
            }
          }
        }

        .singleCar {
          background: var(--pureWhiteColor);
          border-radius: 0.5rem;
          padding: 1.5rem 2rem;
          margin: 2rem 2rem;
          text-align: left;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          div {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 4rem;

            align-items: flex-end;
            justify-content: flex-end;
            .imgDiv {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0;
              border-radius: 0.5rem;
              border: none;
              width: 340px;
              height: 100px;
              img {
                object-fit: contain;
                width: 100%;
                max-width: 340px;
              }
            }
            .carLabel {
              font-weight: 600;
              color: var(--primaryColor);
            }
            .descriptionDiv {
              text-align: left;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: last baseline;
              font-size: 13px;
              .carTitle {
                color: var(--primaryColor);
                font-size: 24px;
                margin-bottom: 4rem;
                width: max-content;
                font-weight: 600;
              }
              .carLabel {
                font-weight: 600;
                color: var(--primaryColor);
              }
              span {
                color: var(--textColor);
                font-size: 16px;
              }

              .price_seller {
                flex-direction: column;
              }
            }
            .actionDiv {
              display: flex;
              flex-direction: column;
              align-items: self-end;
              justify-content: center;
              row-gap: 5rem;
              .actionRow {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                gap: 0;
                margin-bottom: 0.5rem;
                span {
                  margin-left: 0.25rem;
                  font-weight: 500;
                  font-size: 18px;
                }
              }
              a,
              button {
                background: var(--pureWhiteColor);
                color: var(--primaryColor);
                border: 2.5px solid var(--primaryColor);
                padding: 0.5rem 0.75rem;
                font-weight: 600;
                font-size: 10px;
                transition: 0.3s ease-in-out;
                &:hover {
                  background: var(--secondaryColor);
                  color: var(--blackColor);
                  border: 2.5px dashed var(--pureWhiteColor);
                }
              }
            }
          }
        }
        .paginationContainer {
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .carPage {
    padding: 1rem 2rem;
    .secContainer {
      padding: 0;
      justify-content: center;
      margin: 2rem 0rem;
      gap: 1rem;
      .secHeading {
        margin: 4rem 0 0 0;
        .search {
          width: 100%;
          .searchDiv {
            grid-template-columns: repeat(3, 1fr);
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .secContent {
        grid-template-columns: repeat(1, 1fr);
        align-items: flex-start;
        .filterContainer {
          grid-column-start: 1;
          grid-column-end: 2;

          .filter {
            flex-direction: column;
            align-items: normal;
            .filterRow {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              column-gap: 1rem;
              margin: 0.5rem 0.5rem !important;
              padding: 0.25rem;
              min-width: 33.33%;
              font-size: 8px !important;
              .rowHead {
                margin-bottom: 0;
                h6 {
                  font-size: 12px;
                }
              }
              .checkBoxRow {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                text-align: center;
                align-items: center;
                column-gap: 1rem;
              }
            }
          }
        }
        .carContainer {
          grid-column-start: 1 !important;
          grid-column-end: 1 !important;
          .searchDiv {
            margin: 1rem 0 !important;
            text-align: center;
            padding: 0.25rem;
            .searchInput {
              width: 55%;
            }
          }
          .singleCar {
            margin: 1rem 0rem;
            padding: 0.5rem 1rem;
            div {
              grid-template-columns: repeat(1, 1fr) !important;
              .imgDiv {
                width: 100% !important;
                height: auto !important;
              }
              .descriptionDiv {
                flex-direction: row;
                font-size: 10px;
                margin-bottom: -2rem;
              }
              .actionDiv {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .actionRow {
                  margin-bottom: 0 !important;
                  span {
                    padding-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: 0.5rem !important;
  }
}
@media screen and (max-width: 768px) {
  .carPage {
    padding: 1rem 2rem;
    .secContainer {
      padding: 0;
      justify-content: center;
      margin: 2rem 0rem;
      gap: 1rem;
      .secHeading {
        margin: 4rem 0 0 0;
        .search {
          width: 100%;
          .searchDiv {
            grid-template-columns: repeat(3, 1fr);
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .secContent {
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        column-gap: 2rem;
        .filterContainer {
          grid-column-start: 1;
          grid-column-end: 1;

          .filter {
            flex-direction: column;
            align-items: normal;
            .filterRow {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              column-gap: 1rem;
              margin: 0.5rem 0.2rem;
              padding: 2rem 0.5rem;
              min-width: 100%;
              font-size: 12px;
              .rowHead {
                margin-bottom: 0;
                h6 {
                  font-size: 12px;
                }
              }
              .checkBoxRow {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                text-align: center;
                align-items: flex-start;
                column-gap: 1rem;
              }
            }
          }
        }
        .carContainer {
          grid-column-start: 2 !important;
          grid-column-end: 2 !important;
          .searchDiv {
            margin: 0.5rem 0 !important;
            text-align: center;
            padding: 0.25rem;
            .searchInput {
              width: 55%;
            }
          }
          .singleCar {
            margin: 1rem 0rem;
            padding: 0.5rem 1rem;
            div {
              grid-template-columns: repeat(1, 1fr) !important;
              .imgDiv {
                width: 100% !important;
                height: auto !important;
              }
              .descriptionDiv {
                flex-direction: row;
                font-size: 10px;
                margin-bottom: -2rem;
              }
              .actionDiv {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .actionRow {
                  margin-bottom: 0 !important;
                  span {
                    padding-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: 0.5rem !important;
  }
}
@media screen and (max-width: 1024px) {
  .carPage {
    padding: 1rem 2rem;
    .secContainer {
      padding: 0;
      justify-content: center;
      margin: 2rem 0rem;
      gap: 1rem;
      .secHeading {
        margin: 6rem 0 0 0;
        .search {
          width: 100%;
          .searchDiv {
            grid-template-columns: repeat(3, 1fr);
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
            .searchInput {
              width: 100%;
            }
          }
        }
      }
      .secContent {
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        column-gap: 2rem;
        .filterContainer {
          grid-column-start: 1;
          grid-column-end: 1;

          .filter {
            flex-direction: column;
            align-items: normal;
            .filterRow {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              column-gap: 2rem;
              margin: 1rem 0.2rem;
              padding: 2rem 2rem;
              min-width: 100%;
              font-size: 14px;
              .rowHead {
                margin-bottom: 0;
                h6 {
                  font-size: 14px;
                }
              }
              .checkBoxRow {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                align-items: flex-start;
                column-gap: 1rem;
              }
            }
          }
        }
        .carContainer {
          grid-column-start: 2;
          grid-column-end: 3;
          .searchDiv {
            .searchInput {
              width: 80%;
            }
          }
          .singleCar {
            div {
              .imgDiv {
                width: 200px !important;
                height: auto !important;
              }
            }
          }
        }
      }
    }
  }
  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: 1rem !important;
  }
}
