/**select box**/
.form-check-input {
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.5em;
  margin-top: 0.1em;
  background-color: var(--bs-form-check-bg);
  border: 2px solid var(--textColor);
}

.form-check-input:checked {
  background-color: var(--primaryColor);
  border-color: var(--blackColor);
}

.form-check-input:focus {
  border-color: var(--secondaryColor);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(36, 1, 27, 0.25);
}

.form-check-label {
  color: var(--blackColor);
}

/**select box**/
/**ant-d**/
.ant-space {
  padding: 0 2rem;
}

/**ant-d**/
.shadow-rounded-box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0.5rem;
  background-color: var(--pureWhiteColor);
}

.carPage {
  padding: 4rem 8rem;
}
.carPage .secContainer {
  padding: 0;
  justify-content: center;
  margin: 2rem 1rem;
}
.carPage .secContainer .secHeading {
  margin: 2rem 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.carPage .secContainer .secHeading .search {
  width: 100%;
}
.carPage .secContainer .secHeading .search .searchDiv {
  grid-template-columns: repeat(3, 1fr);
}
.carPage .secContainer .secHeading .search .searchDiv .primaryBtn {
  transform: none !important;
  opacity: 1 !important;
}
.carPage .secContainer .secHeading .search .title {
  display: none;
}
.carPage .secContainer .secHeading .btnPrimary {
  background: var(--primaryColor);
  color: var(--pureWhiteColor);
  border: none;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.carPage .secContainer .secHeading .btnPrimary:hover {
  background: var(--secondaryColor);
  color: var(--blackColor);
  border: 1.5px solid var(--secondaryColor);
}
.carPage .secContainer .secContent {
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
}
.carPage .secContainer .secContent .filterContainer {
  grid-column-start: 1;
  grid-column-end: 1;
}
.carPage .secContainer .secContent .filterContainer .filter {
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.carPage .secContainer .secContent .filterContainer .filter .filterRow {
  min-width: 250px;
  padding: 2rem 2rem;
  margin: 1rem 1rem;
}
.carPage .secContainer .secContent .filterContainer .filter .filterRow .rowHead {
  margin-bottom: 1rem;
}
.carPage .secContainer .secContent .filterContainer .filter .filterRow .rowHead h6 {
  color: var(--blackColor);
}
.carPage .secContainer .secContent .carContainer {
  grid-column-start: 2;
  grid-column-end: 5;
}
.carPage .secContainer .secContent .carContainer .searchDiv {
  margin: 1rem 2rem;
  text-align: left;
  padding: 0 2rem;
  gap: 1rem;
}
.carPage .secContainer .secContent .carContainer .searchDiv label {
  font-weight: 500;
  color: var(--textColor);
  margin-right: 0.55rem;
}
.carPage .secContainer .secContent .carContainer .searchDiv .searchInput {
  text-align: center;
  width: 85%;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  background: var(--whiteColor);
  margin: 1rem 0.5rem;
  padding: 0.5rem 0.75rem;
}
.carPage .secContainer .secContent .carContainer .searchDiv .searchInput:focus {
  border: none;
  outline: none;
  color: var(--primaryColor);
  background: var(--whiteColor);
}
.carPage .secContainer .secContent .carContainer .searchDiv .searchInput::-moz-placeholder {
  letter-spacing: 0.05rem;
  text-align: left;
  font-size: 12px;
  color: var(--placeHolderColor);
}
.carPage .secContainer .secContent .carContainer .searchDiv .searchInput::placeholder {
  letter-spacing: 0.05rem;
  text-align: left;
  font-size: 12px;
  color: var(--placeHolderColor);
}
.carPage .secContainer .secContent .carContainer .searchDiv button {
  font-size: 25px;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  color: var(--primaryColor);
}
.carPage .secContainer .secContent .carContainer .searchDiv button:hover {
  color: var(--blackColor);
  transition: 0.3s ease-in-out;
  font-size: 28px;
}
.carPage .secContainer .secContent .carContainer .singleCar {
  background: var(--pureWhiteColor);
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  margin: 2rem 2rem;
  text-align: left;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.carPage .secContainer .secContent .carContainer .singleCar div {
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  align-items: flex-end;
  justify-content: flex-end;
}
.carPage .secContainer .secContent .carContainer .singleCar div .imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 0.5rem;
  border: none;
  width: 340px;
  height: 100px;
}
.carPage .secContainer .secContent .carContainer .singleCar div .imgDiv img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-width: 340px;
}
.carPage .secContainer .secContent .carContainer .singleCar div .carLabel {
  font-weight: 600;
  color: var(--primaryColor);
}
.carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: last baseline;
  font-size: 13px;
}
.carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv .carTitle {
  color: var(--primaryColor);
  font-size: 20px;
  margin-bottom: 4rem;
  width: -webkit-fill-available;
  font-weight: 600;
  text-transform: capitalize;
}
.carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv .carLabel {
  font-weight: 600;
  color: var(--primaryColor);
}
.carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv span {
  color: var(--textColor);
  font-size: 16px;
}
.carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv .price_seller {
  flex-direction: column;
}
.carPage .secContainer .secContent .carContainer .singleCar div .actionDiv {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  justify-content: center;
  row-gap: 5rem;
}
.carPage .secContainer .secContent .carContainer .singleCar div .actionDiv .actionRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin-bottom: 0.5rem;
}
.carPage .secContainer .secContent .carContainer .singleCar div .actionDiv .actionRow span {
  margin-left: 0.25rem;
  font-weight: 500;
  font-size: 16px;
}
.carPage .secContainer .secContent .carContainer .singleCar div .actionDiv a,
.carPage .secContainer .secContent .carContainer .singleCar div .actionDiv button {
  background: var(--pureWhiteColor);
  color: var(--primaryColor);
  border: 2.5px solid var(--primaryColor);
  padding: 0.5rem 0.75rem;
  font-weight: 600;
  font-size: 10px;
  transition: 0.3s ease-in-out;
}
.carPage .secContainer .secContent .carContainer .singleCar div .actionDiv a:hover,
.carPage .secContainer .secContent .carContainer .singleCar div .actionDiv button:hover {
  background: var(--secondaryColor);
  color: var(--blackColor);
  border: 2.5px dashed var(--pureWhiteColor);
}
.carPage .secContainer .secContent .carContainer .paginationContainer {
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .carPage {
    padding: 1rem 2rem;
  }
  .carPage .secContainer {
    padding: 0;
    justify-content: center;
    margin: 2rem 0rem;
    gap: 1rem;
  }
  .carPage .secContainer .secHeading {
    margin: 6rem 0 0 0;
  }
  .carPage .secContainer .secHeading .search {
    width: 100%;
  }
  .carPage .secContainer .secHeading .search .searchDiv {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  .carPage .secContainer .secHeading .search .searchDiv .searchInput {
    width: 100%;
  }
  .carPage .secContainer .secContent {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .carPage .secContainer .secContent .filterContainer {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .carPage .secContainer .secContent .filterContainer .filter {
    flex-direction: column;
    align-items: normal;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    margin: 1rem 0.2rem;
    padding: 2rem 2rem;
    min-width: 100%;
    font-size: 14px;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow .rowHead {
    margin-bottom: 0;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow .rowHead h6 {
    font-size: 14px;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow .checkBoxRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: flex-start;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .carPage .secContainer .secContent .carContainer {
    grid-column-start: 2;
    grid-column-end: 16;
  }
  .carPage .secContainer .secContent .carContainer .searchDiv .searchInput {
    width: 75%;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div {
    align-items: center;
    -moz-column-gap: 0.75rem;
         column-gap: 0.75rem;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .imgDiv {
    width: 200px !important;
    height: auto !important;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv {
    row-gap: 3rem;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv .carTitle {
    font-size: 18px;
    margin-bottom: 5rem;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .actionDiv {
    row-gap: 10rem;
  }
}
@media screen and (max-width: 991px) {
  .carPage {
    padding: 1rem 2rem;
  }
  .carPage .secContainer {
    padding: 0;
    justify-content: center;
    margin: 2rem 0rem;
    gap: 1rem;
  }
  .carPage .secContainer .secHeading {
    margin: 4rem 0 0 0;
  }
  .carPage .secContainer .secHeading .search {
    width: 100%;
  }
  .carPage .secContainer .secHeading .search .searchDiv {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  .carPage .secContainer .secHeading .search .searchDiv .searchInput {
    width: 60%;
  }
  .carPage .secContainer .secContent {
    grid-template-columns: repeat(3, 1fr) !important;
    align-items: flex-start;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    justify-content: center;
  }
  .carPage .secContainer .secContent .filterContainer {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .carPage .secContainer .secContent .filterContainer .filter {
    flex-direction: column;
    align-items: normal;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    margin: 1rem 0.2rem;
    padding: 2rem 0.5rem;
    min-width: 100%;
    font-size: 10px;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow .rowHead {
    margin-bottom: 0;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow .rowHead h6 {
    font-size: 12px;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow .checkBoxRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: flex-start;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .carPage .secContainer .secContent .carContainer {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4 !important;
  }
  .carPage .secContainer .secContent .carContainer .searchDiv {
    margin: 1rem 0;
    text-align: center;
    padding: 0.25rem 0.5rem;
    justify-content: center;
    align-items: center;
  }
  .carPage .secContainer .secContent .carContainer .searchDiv label {
    font-size: 12px;
  }
  .carPage .secContainer .secContent .carContainer .searchDiv .searchInput {
    width: 66%;
  }
  .carPage .secContainer .secContent .carContainer .singleCar {
    margin: 1rem 0rem;
    padding: 0.5rem 1rem;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div {
    display: flex;
    flex-direction: column;
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 0.9rem;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .imgDiv {
    width: 100% !important;
    height: auto !important;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv {
    flex-direction: column;
    row-gap: 0;
    font-size: 10px;
    margin-bottom: -2rem;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv span {
    font-size: 15px;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv .miles,
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv .AWD {
    margin-right: 1rem;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv .carTitle {
    font-size: 20px;
    margin-bottom: 0;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv .contentDiv {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv .contentDiv div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .actionDiv {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2rem 0;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .actionDiv .actionRow {
    margin-bottom: 0 !important;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .actionDiv .actionRow span {
    padding-bottom: 0;
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .carPage {
    padding: 1rem 2rem;
  }
  .carPage .secContainer {
    padding: 0;
    justify-content: center;
    margin: 2rem 0rem;
    gap: 1rem;
  }
  .carPage .secContainer .secHeading {
    margin: 4rem 0 0 0;
  }
  .carPage .secContainer .secHeading .search {
    width: 100%;
  }
  .carPage .secContainer .secHeading .search .searchDiv {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  .carPage .secContainer .secHeading .search .searchDiv .searchInput {
    width: 60%;
  }
  .carPage .secContainer .secContent {
    grid-template-columns: repeat(3, 1fr) !important;
    align-items: flex-start;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    justify-content: center;
  }
  .carPage .secContainer .secContent .filterContainer {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .carPage .secContainer .secContent .filterContainer .filter {
    flex-direction: column;
    align-items: normal;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    margin: 1rem 0.2rem;
    padding: 2rem 0.5rem;
    min-width: 100%;
    font-size: 10px;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow .rowHead {
    margin-bottom: 0;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow .rowHead h6 {
    font-size: 12px;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow .checkBoxRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: flex-start;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .carPage .secContainer .secContent .carContainer {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4 !important;
  }
  .carPage .secContainer .secContent .carContainer .searchDiv {
    margin: 1rem 0;
    text-align: center;
    padding: 0.25rem 0.5rem;
    justify-content: center;
    align-items: center;
  }
  .carPage .secContainer .secContent .carContainer .searchDiv label {
    font-size: 12px;
  }
  .carPage .secContainer .secContent .carContainer .searchDiv .searchInput {
    width: 66%;
  }
  .carPage .secContainer .secContent .carContainer .singleCar {
    margin: 1rem 0rem;
    padding: 0.5rem 1rem;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div {
    display: flex;
    flex-direction: column;
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 0.9rem;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .imgDiv {
    width: 100% !important;
    height: auto !important;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv {
    flex-direction: column;
    row-gap: 0;
    font-size: 10px;
    margin-bottom: -2rem;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv span {
    font-size: 15px;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv .miles,
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv .AWD {
    margin-right: 1rem;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv .carTitle {
    font-size: 20px;
    margin-bottom: 0;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv .contentDiv {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv .contentDiv div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .actionDiv {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2rem 0;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .actionDiv .actionRow {
    margin-bottom: 0 !important;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .actionDiv .actionRow span {
    padding-bottom: 0;
    font-size: 15px;
  }
}
@media screen and (max-width: 560px) {
  .carPage {
    padding: 1rem 2rem;
  }
  .carPage .secContainer {
    padding: 0;
    justify-content: center;
    margin: 2rem 0rem;
    gap: 1rem;
  }
  .carPage .secContainer .secHeading {
    margin: 4rem 0.75rem 0 0.75rem;
  }
  .carPage .secContainer .secHeading .search {
    width: 100%;
  }
  .carPage .secContainer .secHeading .search .searchDiv {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  .carPage .secContainer .secContent {
    display: flex !important;
    flex-direction: column;
  }
  .carPage .secContainer .secContent .filterContainer {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .carPage .secContainer .secContent .filterContainer .filter {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: flex-start !important;
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    margin: 0.5rem 0.5rem !important;
    padding: 1rem !important;
    min-width: 33.33%;
    font-size: 8px !important;
    height: -webkit-fill-available;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow .rowHead {
    margin-bottom: 0;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow .rowHead h6 {
    font-size: 12px;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow .checkBoxRow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: flex-start;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .carPage .secContainer .secContent .carContainer {
    grid-column-start: 1 !important;
    grid-column-end: 1 !important;
  }
  .carPage .secContainer .secContent .carContainer .searchDiv {
    margin: 1rem 0.75rem 0 0.75rem;
    text-align: center;
    padding: 0.25rem;
  }
  .carPage .secContainer .secContent .carContainer .searchDiv .searchInput {
    width: 55%;
  }
  .carPage .secContainer .secContent .carContainer .singleCar {
    margin: 1rem 0rem;
    padding: 0.5rem 1rem;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .imgDiv {
    width: 100% !important;
    height: auto !important;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv {
    flex-direction: row;
    font-size: 10px;
    margin-bottom: -2rem;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv span {
    font-size: 12px !important;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .actionDiv {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .actionDiv .actionRow {
    margin-bottom: 0 !important;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .actionDiv .actionRow span {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 425px) {
  .carPage {
    padding: 1rem 2rem;
  }
  .carPage .secContainer {
    padding: 0;
    justify-content: center;
    margin: 2rem 0rem;
    gap: 1rem;
  }
  .carPage .secContainer .secHeading {
    margin: 4rem 0 0 0;
    border-radius: 0;
  }
  .carPage .secContainer .secHeading .search {
    width: 100%;
  }
  .carPage .secContainer .secHeading .search .searchDiv {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  .carPage .secContainer .secContent {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .carPage .secContainer .secContent .filterContainer {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .carPage .secContainer .secContent .filterContainer .filter {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: flex-start !important;
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    margin: 0.5rem 0.5rem !important;
    padding: 1rem !important;
    min-width: 33.33%;
    font-size: 8px !important;
    height: -webkit-fill-available;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow .rowHead {
    margin-bottom: 0;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow .rowHead h6 {
    font-size: 12px;
  }
  .carPage .secContainer .secContent .filterContainer .filter .filterRow .checkBoxRow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: flex-start;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    padding: 0 0.5rem;
  }
  .carPage .secContainer .secContent .carContainer {
    grid-column-start: 1 !important;
    grid-column-end: 1 !important;
  }
  .carPage .secContainer .secContent .carContainer .searchDiv {
    margin: 1rem 0 0 0;
    text-align: center;
    padding: 0.25rem;
    border-radius: 0;
  }
  .carPage .secContainer .secContent .carContainer .searchDiv .searchInput {
    width: 55%;
  }
  .carPage .secContainer .secContent .carContainer .singleCar {
    margin: 1rem 0rem;
    padding: 0.5rem 0;
    border-radius: 0;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .imgDiv {
    width: 100% !important;
    height: auto !important;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv {
    flex-direction: row;
    font-size: 10px;
    margin-bottom: -2rem;
    display: flex;
    flex-direction: column;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv span {
    font-size: 12px !important;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .actionDiv {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .actionDiv .actionRow {
    margin-bottom: 0 !important;
  }
  .carPage .secContainer .secContent .carContainer .singleCar div .actionDiv .actionRow span {
    padding-bottom: 0;
  }
  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: 0.5rem !important;
  }
}/*# sourceMappingURL=carPage.css.map */