/**select box**/
.form-check-input {
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.5em;
  margin-top: 0.1em;
  background-color: var(--bs-form-check-bg);
  border: 2px solid var(--textColor);
}

.form-check-input:checked {
  background-color: var(--primaryColor);
  border-color: var(--blackColor);
}

.form-check-input:focus {
  border-color: var(--secondaryColor);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(36, 1, 27, 0.25);
}

.form-check-label {
  color: var(--blackColor);
}

/**select box**/
/**ant-d**/
.ant-space {
  padding: 0 2rem;
}

/**ant-d**/
.shadow-rounded-box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0.5rem;
  background-color: var(--pureWhiteColor);
}

.carPage {
  padding: 4rem 8rem;
}
.carPage .secContainer {
  justify-content: center;
}
.carPage .secContainer .secHeading {
  margin: 2rem 0;
  justify-content: center;
  padding: 2rem 0;
  gap: 2rem;
}
.carPage .secContainer .secHeading .btnPrimary {
  background: var(--primaryColor);
  color: var(--pureWhiteColor);
  border: none;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.carPage .secContainer .secHeading .btnPrimary:hover {
  background: var(--secondaryColor);
  color: var(--blackColor);
  border: 1.5px solid var(--secondaryColor);
}
.carPage .secContainer .secContent {
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
}
.carPage .secContainer .secContent .filterContainer {
  grid-column-start: 1;
  grid-column-end: 1;
}
.carPage .secContainer .secContent .filterContainer .filter {
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.carPage .secContainer .secContent .filterContainer .filter .filterRow {
  min-width: 250px;
  padding: 2rem 2rem;
  margin: 1rem 1rem;
}
.carPage .secContainer .secContent .filterContainer .filter .filterRow .rowHead {
  margin-bottom: 1rem;
}
.carPage .secContainer .secContent .filterContainer .filter .filterRow .rowHead h6 {
  color: var(--blackColor);
}
.carPage .secContainer .secContent .carContainer {
  grid-column-start: 2;
  grid-column-end: 5;
}
.carPage .secContainer .secContent .carContainer .searchDiv {
  margin: 1rem 2rem;
  text-align: left;
  padding: 0 2rem;
  gap: 1rem;
}
.carPage .secContainer .secContent .carContainer .searchDiv label {
  font-weight: 500;
  color: var(--textColor);
  margin-right: 0.55rem;
}
.carPage .secContainer .secContent .carContainer .searchDiv .searchInput {
  text-align: center;
  width: 85%;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  background: var(--whiteColor);
  margin: 1rem 0.5rem;
  padding: 0.5rem 0.75rem;
}
.carPage .secContainer .secContent .carContainer .searchDiv .searchInput:focus {
  border: none;
  outline: none;
  color: var(--primaryColor);
  background: var(--whiteColor);
}
.carPage .secContainer .secContent .carContainer .searchDiv .searchInput::-moz-placeholder {
  letter-spacing: 0.05rem;
  text-align: left;
  font-size: 12px;
  color: var(--placeHolderColor);
}
.carPage .secContainer .secContent .carContainer .searchDiv .searchInput::placeholder {
  letter-spacing: 0.05rem;
  text-align: left;
  font-size: 12px;
  color: var(--placeHolderColor);
}
.carPage .secContainer .secContent .carContainer .singleCar {
  background: var(--pureWhiteColor);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin: 1rem 2rem;
  text-align: left;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.carPage .secContainer .secContent .carContainer .singleCar div {
  grid-template-columns: repeat(3, 1fr);
  gap: 0.1rem 3.5rem;
  align-items: flex-end;
  justify-content: flex-end;
}
.carPage .secContainer .secContent .carContainer .singleCar div .imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 0.5rem;
  border: none;
  width: 350px;
  height: 170px;
}
.carPage .secContainer .secContent .carContainer .singleCar div .imgDiv img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-width: 350px;
}
.carPage .secContainer .secContent .carContainer .singleCar div .carLabel {
  font-weight: 600;
  color: var(--primaryColor);
}
.carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: last baseline;
  font-size: 16px;
}
.carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv .carTitle {
  color: var(--blackColor);
  font-size: 24px;
  margin-bottom: 4rem;
}
.carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv .carLabel {
  font-weight: 600;
  color: var(--primaryColor);
}
.carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv span {
  color: var(--textColor);
}
.carPage .secContainer .secContent .carContainer .singleCar div .descriptionDiv .price_seller {
  flex-direction: column;
}
.carPage .secContainer .secContent .carContainer .singleCar div .actionDiv {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.carPage .secContainer .secContent .carContainer .singleCar div .actionDiv .actionRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.carPage .secContainer .secContent .carContainer .singleCar div .actionDiv .actionRow span {
  padding-bottom: 4.5rem;
}
.carPage .secContainer .secContent .carContainer .singleCar div .actionDiv a, .carPage .secContainer .secContent .carContainer .singleCar div .actionDiv button {
  background: var(--pureWhiteColor);
  color: var(--primaryColor);
  border: 1.5px solid var(--primaryColor);
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  font-size: 11.5px;
  transition: 0.3s ease-in-out;
}
.carPage .secContainer .secContent .carContainer .singleCar div .actionDiv a:hover, .carPage .secContainer .secContent .carContainer .singleCar div .actionDiv button:hover {
  background: var(--secondaryColor);
  color: var(--blackColor);
  border: 1.5px solid var(--secondaryColor);
}
.carPage .secContainer .secContent .carContainer .paginationContainer {
  justify-content: center;
}/*# sourceMappingURL=carPage.css.map */