.home {
  padding-top: 8rem;
}
.secContainer {
  padding: 0 1.5rem;
  text-align: center;
  display: grid;
  gap: 2rem;
}

.homeText {
}
.homeText .homeSpan {
  color: var(--textColor);
  font-weight: 400;
  font-size: 15px;
}
.homeText .homeTitle {
  color: var(--blackColor);
  font-weight: 700;
  font-size: 30px;
}
.homeText .btns {
  gap: 1.5rem;
  justify-content: center;
}
.homeText .btns .btn {
  padding: 10px 15px;
  border-radius: 3px;
  font-weight: 600;
  margin-top: 0.5rem;
  font-size: 12px;
}
.homeText .btns .btn:hover {
  background: var(--primaryColor);
  color: var(--whiteColor);
}
.homeText .btns .btn:nth-child(1) {
  background: var(--whiteColor);
  color: var(--textColor);
}
.homeText .btns .btn:nth-child(2) {
  background: var(--primaryColor);
  color: var(--whiteColor);
}
.homeText .btns .btn:nth-child(1):hover {
  background: var(--primaryColor);
  color: var(--whiteColor);
}

.homeText .btns .btn:nth-child(2):hover {
  background: var(--whiteColor);
  color: var(--textColor);
}

.homeImage {
  margin: auto;
}
