.trending {
}
.trending .secContainer {
}
.trending .secContainer .secHeading {
  justify-content: space-between;
  padding: 1rem 0;
}
.trending .secContainer .secHeading .navBtns {
  gap: 0.5rem;
}
.trending .secContainer .secHeading .navBtns .icon {
  padding: 3px 5px;
  background: var(--secondaryColor);
  border-radius: 3px;
  font-size: 30px;
  cursor: pointer;
}
.trending .secContainer .secHeading .navBtns .icon:hover{
    background: var(--primaryColor);
    color: var(--whiteColor);
}
