.notFound{
    padding: 6rem;
.secContent{
    padding: 1rem 2rem;
    grid-template-columns: repeat(2,1fr);
    align-items: flex-start;
    justify-content: flex-start;
    .descriptionContainer{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: flex-start;
    }
    .btnContainer{
        a{
            background:var(--secondaryColor);
            color:var(--pureWhiteColor);
        }
    }
}
}
