.contact {
    padding-top: 8rem;
}

.contact-form {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-text);
    height: 100vh;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/4166677/pexels-photo-4166677.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
}

h1{
    text-align: center;
    color: var(--pureWhiteColor);
    font-size: 3rem;
    text-shadow: 5px 2px 10px var(--pureWhiteColor);
}
p.sub-title{
    text-align: center;
    color: var(--pureWhiteColor);
    font-size: 1.5rem;
}

#contact-container {
    width: 1200px;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    backdrop-filter: blur(7px);
    -webkit-box-shadow: 0px 0px 46px 26px var(--color-black);
    -moz-box-shadow: 0px 0px 46px 26px var(--color-black);
    box-shadow: 0px 0px 46px 26px var(--color-black);
    border: 1px solid var(--pureWhiteColor);
    .contact-info{ 
        background-color: var(--primaryColor);
        border-radius: 15px;
        flex: 0 1 40%;
        padding: 40px;
        color: var(--pureWhiteColor);
        display: flex;
        flex-direction: column;
        h4{
            font-size: 2rem;
            font-weight: 500;
            margin: 0;
            margin-bottom: 0.7rem;
        }
        p{
            font-size: 1.1rem;
            color: var(--pureWhiteColor);
            font-weight: 300;
            margin-bottom: 3rem;
        }
        .icon-text{
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            margin-bottom: 0.5rem;
            .icon{
                flex: 0 0 20px;
                font-size: 1.8rem;
                margin-right: 1rem;
            }
            span{
                font-size: 1.2rem;
                font-weight: 300;
            }
        }
        .social-media{
            display: flex;
            width: 70%;
            justify-content: space-between;
            .icon-circle{
                flex: 0 1 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                border-radius: 50%;
                transition: .1s all ease-in-out;
                margin-top: 2rem;
                color: var(--pureWhiteColor);
                &:hover{
                    color: var(--primaryColor);
                    background-color: var(--pureWhiteColor);
                }
                .fa{
                    font-size: 24px;
                }
            }
        }
    }
    form{
        padding: 40px;
        width: 100%;
        .col{
            display: flex;
            width: 100%;
            flex: 0 0 100%;
        }
        .col-2{
            width: 105%;
        }
        .form-group{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            flex: 0 0 50%;
            padding-right: 40px;
            label{
                font-size: 1.2rem;
                color: var(--pureWhiteColor);
                margin-bottom: 0.2rem;
            }
            input[type="text"], input[type="email"], input[type="tel"], textarea{
                border: none;
                cursor: pointer;
                padding: 3px;
                font-size: 1.2rem;
                font-weight: 300;
                color: var(--pureWhiteColor);
                background: transparent;
                border-bottom: 1.5px solid var(--secondaryColor);
                transition: all .3s case-in-out;
                margin-bottom: 3rem;
                &:focus{
                    border: none;
                    outline: none;
                    border-bottom: 3.4px solid var(--pureWhiteColor);
                }
            }
            &:nth-child(2){
                padding-right: 0;
            }
        }
    }
}



