.contact {
    padding-top: 8rem;
}

.contact-form {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-text);
}

h1{
    text-align: center;
    color: var(--pureWhiteColor);
    font-size: 3rem;
}
p.sub-title{
    text-align: center;
    color: var(--pureWhiteColor);
    font-size: 1.5rem;
}

#contact-container {
    width: 1200px;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    background-color: var(--color-blog);
    .contact-info{
        background-color: var(--color-subtext);
        border-radius: 15px;
        flex: 0 1 40%;
        padding: 40px;
        color: var(--pureWhiteColor);
        display: flex;
        flex-direction: column;
        h4{
            font-size: 2rem;
            font-weight: 500;
            margin: 0;
            margin-bottom: 0.7rem;
        }
        p{
            font-size: 1.1rem;
            color: var(--pureWhiteColor);
            font-weight: 300;
            margin-bottom: 3rem;
        }
        .icon-text{
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            margin-bottom: 0.5rem;
            .icon{
                flex: 0 0 20px;
                font-size: 1.8rem;
                margin-right: 1rem;
            }
            span{
                font-size: 1.2rem;
                font-weight: 300;
            }
        }
        .social-media{
            display: flex;
            width: 50%;
            justify-content: space-between;
            .icon-circle{
                flex: 0 1 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                border-radius: 50%;
                transition: .2s all ease-in-out;
                margin-top: 2rem;
                &:hover{
                    background-color: var(--pureWhiteColor);
                }
                .fa{
                    font-size: 24px;
                }
            }
        }
    }

}



